// Variables

$primary: #5265e1;
$secondary: #fa5959;

$dark: #242946;
$light: #f7f7f7;

$font-family-sans-serif: "Roboto";
$font-size-small: 0.85rem;

$box-shadow: 0 0.5rem 0.5rem rgba(82, 101, 225, 0.2);

$accordion-button-icon: url("../images/icon-arrow.svg");
$accordion-button-active-icon: url("../images/icon-arrow-active.svg");
$accordion-bg: transparent;
$accordion-button-active-bg: transparent;

@import "../node_modules/bootstrap/scss/bootstrap";

// Globals ---------------------------------
p,
ul,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

main {
  margin-top: 20vh;
}

.btn {
  font-size: $font-size-small;
  font-weight: 500;
  padding: 0.75rem 1rem;
  border: none;
}

// Navbar ---------------------------------

header .nav-link {
  font-size: $font-size-small;
  letter-spacing: 0.2rem;
}

.navbar {
  --bs-navbar-toggler-focus-width: 0;
}

.navbar-toggler-icon {
  background-image: url("../images/icon-hamburger.svg");
  width: 1.125rem;
  height: 0.938rem;
}

.offcanvas {
  background-color: $dark;
  opacity: 0.9;

  .btn-close {
    background-image: url("../images/icon-close.svg");
    opacity: 1;
  }
}

.btn-login {
  box-shadow: $box-shadow;
}

// Hero section ---------------------------------

.hero-img {
  width: 120%;
  transform: translateY(10%);
}

.first-pill {
  height: 80%;
  width: 200%;
  transform: translateX(20%) translateY(-90%);
  z-index: -1;
}

.second-pill {
  transform: translateX(-60%) translateY(-80%);
}

// Features section ---------------------------------

.nav-tabs .nav-link {
  margin-bottom: 0;
  border: 0;
}

.nav-fill .nav-item {
  flex: 1 1;
  text-align: center;
}

.nav-item .nav-link {
  margin-bottom: 0.25rem;
}

.nav-tabs .nav-link.active {
  margin-bottom: 0;
  border-bottom: 0.25rem solid $secondary;
}

.nav-tabs .nav-link {
  color: #5e5e66;
}

// Downloads section -> card ---------------------------------

.card {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
  padding-inline: 0;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 0.5rem rgba(82, 101, 225, 0.2);
  width: 280px;

  &__logo {
    height: 100px;
  }

  &__title {
    font-size: 1.2rem;
  }

  &__subtitle {
    font-size: 0.8rem;
    color: var(--bs-tertiary-color);
    margin-top: 0.5rem;
  }

  &__dots {
    width: 100%;
  }
}

.second-card {
  margin-top: 3rem;
}

.third-card {
  margin-top: 6rem;
}

// FAQs section ---------------------------------

.accordion-button:focus {
  outline: none;
  box-shadow: none;
}

.accordion-flush .accordion-item:last-child {
  border-bottom: var(--bs-accordion-border-width) solid
    var(--bs-accordion-border-color);
}

.accordion-button:not(.collapsed) {
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0
    var(--bs-accordion-border-color);
}

// Media queries ---------------------------------

@media screen and (max-width: 767.98px) {
  main {
    margin-top: 10vh;
  }

  .hero-img {
    width: 100%;
  }

  .first-pill {
    transform: translateX(10%) translateY(-90%);
  }

  .second-pill {
    transform: translateX(-60%) translateY(-80%);
  }

  header .nav-link {
    color: #fff;
    font-size: 1rem;
  }

  .nav-item {
    display: block;
    width: 100%;
    text-align: center;
    border-top: 1px solid #ffffff33;

    .btn {
      display: block;
      width: 100%;
      border: 1px solid #fff;
      background-color: transparent !important;
      font-size: 1rem;
    }
  }

  .btn-login {
    box-shadow: none;
  }

  // Media Query Features section ---------------------------------

  section .nav-item {
    border-top: 1px solid #dde0e9;
  }

  .nav-tabs .nav-link.active {
    display: inline;
    width: fit-content;
    margin-bottom: 0;
  }

  // Media Query Downloads section ---------------------------------

  .second-card,
  .third-card {
    margin-top: 0;
  }
}
